.layout-signin {
  background-color: #f0f2f5;
}

.layout-default {
    min-height: 100vh;
    display: flex;
    flex-direction: column; 
    background-color: #B7D058 !important;
  }

.ant-layout-header {
    background: white !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important;
    padding: 10px 20px !important;
    color: black !important;
    box-shadow: none !important;
    position: fixed !important;
    z-index: 1000 !important;
    height: 60px !important;
    overflow: hidden;
    top: 0;
    width: 100%;
  }

.ant-layout-content { 
    flex: 1; /* Supaya content mengambil ruang yang tersisa */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 0 20px;
    height: 60px;
  }
  
.header-col {
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 30px;
    padding-left: 20px;
  }
  
/* Gaya untuk brand (logo atau nama website) */
.header-brand h5 {
    font-size: 1.5rem;
    color: #b2d12d;
    margin: 0;
  }
  
/* Gaya untuk menu navigasi */
.header-nav nav {
    display: flex;
    font-family: 'Poppins', sans-serif;
    color: white;
    align-items: center;
    height: 100%;
  }

.header-nav a {
    padding: 10px 15px;
    /* border-radius: 5px; */
    color: black !important;
    text-decoration: none;
    display: flex;
    width: 100px; /* Tentukan lebar tetap yang sesuai untuk setiap link */
    padding: 0; /* Atur padding untuk memastikan ketinggian yang sama */
    text-align: center; /* Agar teks berada di tengah */
    margin: 0; /* Berikan jarak antar link jika diperlukan */  
    align-items: center; /* Tambahan ini */
    justify-content: center; /* Tambahan ini */
    height: 60px;

    
}
  
.header-nav a.active-link {
    color: blue !important;
    font-weight: bold;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.header-nav nav a {
    color: #b2d12d;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
  }
  
.header-nav nav a:hover {
    color: #b2d12d;
  }

.logo-landing {
  max-width: 55px;
  width: 100%;
  border-radius: 60px;
}

.span-text {
  padding-left: 10px;
  font-family: "Poppins";
  font-weight: bold;
}

.active-menu {
    background-color: #b2d12d; /* Warna latar belakang saat aktif */
    color: white; /* Warna teks saat aktif (opsional) */
    padding: 5px 10px; /* Padding untuk memperbesar area klik */
    border-radius: 5px; /* Menambahkan sudut yang membulat (opsional) */
}
  
/* Gaya untuk tombol login di header */
.header-btn .ant-btn-primary {
    background-color: #b2d12d !important;
    font-weight: bold;
    color: black;
    font-size: 16px !important;
    padding: 20px 15px !important;  
    background: linear-gradient(90deg, #b2d12d, #dcf764); /* Gradasi dari biru ke hijau */
    cursor: pointer;  
    border: none;
  }
  
.header-btn .ant-btn-primary:hover {
    background-color: #b2d12d !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 16px !important;
    font-weight: bold;
    padding: 20px 15px !important;
    background: linear-gradient(90deg, #00C9FF, #92FE9D) !important;
    cursor: pointer;  
    border: none;
  }

.footer-landing{
    background: white !important; /* Latar belakang putih semi-transparan */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Bayangan lembut */
    padding: 10px 20px; /* Padding untuk header dan footer */
    color: black; /* Warna teks putih agar kontras dengan latar belakang */
    /* border: 1px solid rgba(255, 255, 255, 0.3); */

}

.font-color{
  color: black !important;
}

/* Home section css*/
.home-section {
  background-image: url('/src/assets/images/landingbg7.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  min-height: 100vh;
}

.div-wrapper {
  padding: 30px;
  max-width: 700px;
  color: white;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.h2-homesection {
  font-family: "Poppins";
  font-size: 3.5rem;
  font-weight: bold;
}

.paragraph-home {
  font-family: "Poppins";
  font-size: 16px;
}

/* about us section css */
.about-section {
  min-height: 100vh;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.div-aboutus {
  height: 100%;
  text-align: center;
  font-family: "Poppins";
  max-width: 600px;
  background-color: white;
  max-height: 100vh;
  padding: 60px;
  padding-top: 160px;
}

.h1-aboutus {
  color: #A6CE39;
  font-weight: bold;
  font-size: 64px;
  padding-right: 18px;
}

.paragraph-aboutus {
  font-size: 16px;
  line-height: 1.8;
  color: black;
}

/* Services section css */
.services-section {
  min-height: 100vh;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.div-services {
  color: white;
  text-align: center;
  font-family: "Poppins";
  padding-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 90px;
}

.div2-services {
  padding-top: 80px;
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding-bottom: 90px;
}

.h2-services {
  font-family: "Poppins";
  font-size: 2.5rem;
  font-weight: bold;
  padding-bottom: 10px;
}

/* Contact section css */
.contact-section {
  min-height: 60vh;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-top: 90px;
}

.div-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 1s ease-in;
  font-family: "Poppins";
}

.content-animation {
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}

@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.container {
  padding: 20px;
  color: White !important;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
  font-family: 'Poppins';
}

.image-hover-container {
  position: relative;
  overflow: hidden;
}

.image-hover-container img {
  transition: transform 0.3s ease-in-out;
}

.image-hover-container:hover img {
  transform: scale(1.1); /* Memperbesar gambar sedikit saat dihover */
  opacity: 0.8; /* Mengurangi opacity sedikit untuk efek halus */
}

.img {
  transition: transform 0.3s ease-in-out;
}

.img:hover {
  transform: scale(1.2);
}


.button {
  padding-top: 50ox;
  padding-bottom: 50px;
}

.button:hover {
  background-color: #f0f0f0;
}

.button-position {
  position: relative;
  width: 300px; /* Sesuaikan dengan lebar gambar */
  height: 200px; /* Sesuaikan dengan tinggi gambar */
}

.cards {
  transition: transform 0.3s ease-in-out;
}

.card-hover {
  transform: scale(1.0);
}

.card-img {
  width: 100%;
  height: 200px; /* Tentukan tinggi gambar yang diinginkan */
  object-fit: cover; /* Menjaga proporsi gambar agar tidak terdistorsi */
}

/* contact us */
ul {
  list-style: none;
}

.example-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.example-2 .icon-content {
  margin: 0 10px;
  position: relative;
}
.example-2 .icon-content .tooltip {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  padding: 6px 10px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  font-size: 14px;
  transition: all 0.3s ease;
}
.example-2 .icon-content:hover .tooltip {
  opacity: 1;
  visibility: visible;
  top: -50px;
}
.example-2 .icon-content a {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #4d4d4d;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}
.example-2 .icon-content a:hover {
  box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
}
.example-2 .icon-content a svg {
  position: relative;
  z-index: 1;
  width: 30px;
  height: 30px;
}
.example-2 .icon-content a:hover {
  color: white;
}
.example-2 .icon-content a .filled {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #000;
  transition: all 0.3s ease-in-out;
}
.example-2 .icon-content a:hover .filled {
  height: 100%;
}

.example-2 .icon-content a[data-social="linkedin"] .filled,
.example-2 .icon-content a[data-social="linkedin"] ~ .tooltip {
  background-color: #0274b3;
}

.example-2 .icon-content a[data-social="github"] .filled,
.example-2 .icon-content a[data-social="github"] ~ .tooltip {
  background-color: #24262a;
}
.example-2 .icon-content a[data-social="instagram"] .filled,
.example-2 .icon-content a[data-social="instagram"] ~ .tooltip {
  background: linear-gradient(
    45deg,
    #405de6,
    #5b51db,
    #b33ab4,
    #c135b4,
    #e1306c,
    #fd1f1f
  );
}
.example-2 .icon-content a[data-social="youtube"] .filled,
.example-2 .icon-content a[data-social="youtube"] ~ .tooltip {
  background-color: #ff0000;
}


/* Card */
.cards-title {
  color: #262626;
  font-size: 1.5em;
  line-height: normal;
  font-weight: 700;
  margin-bottom: 0.5em;
}

.small-desc {
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5em;
  color: #452c2c;
}

.small-desc {
  font-size: 1em;
}

.go-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 2em;
  height: 2em;
  overflow: hidden;
  top: 0;
  right: 0;
  background: linear-gradient(135deg, #8fab13, #788f15);
  border-radius: 0 4px 0 32px;
}

.go-arrow {
  margin-top: -4px;
  margin-right: -4px;
  color: white;
  font-family: courier, sans;
}

.cards {
  display: block;
  position: relative;
  max-width: 300px;
  max-height: 320px;
  height: 400px;
  background-color: #f2f8f9;
  border-radius: 10px;
  padding: 2em 1.2em;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  background: linear-gradient(to bottom, #f2f4f5, #eaff8d);
  font-family: Arial, Helvetica, sans-serif;
  border: none;
}

.cards:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  background: linear-gradient(135deg, #7f9810, #354101);
  height: 32px;
  width: 32px;
  border-radius: 32px;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 0.35s ease-out;
}

.cards:hover:before {
  transform: scale(28);
}

.cards:hover .small-desc {
  transition: all 0.5s ease-out;
  color: rgba(255, 255, 255, 0.8);
}

.cards:hover .card-title {
  transition: all 0.5s ease-out;
  color: #ffffff;
}





