.layout-signin {
  background-color: #090909;
}

.layout-default {
    min-height: 100vh;
    display: flex;
    flex-direction: column; 
    background-image: url('../../assets/images/bgnew.jpg') !important;
    background-size: cover;
    background-position: center;
  } 

.ant-layout-header {
    background: transparent !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important;
    padding: 10px 20px !important;
    color: white !important;
    box-shadow: none !important;
    position: fixed !important;
    z-index: 1000 !important;
    height: 60px !important;
    overflow: hidden;
    top: 0;
    width: 100%;
  }

.ant-layout-content { 
    flex: 1; /* Supaya content mengambil ruang yang tersisa */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 0 20px;
    height: 60px;
  }
  
.header-col {
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 30px;
    padding-left: 20px;
    padding-top: 15px;
  }
  
/* Gaya untuk brand (logo atau nama website) */
.header-brand h5 {
    font-size: 1.5rem;
    color: #ABFD13;
    margin: 0;
  }
  
/* Gaya untuk menu navigasi */
.header-nav nav {
    display: flex;
    font-family: 'Poppins', sans-serif;
    color: #d9d9d9;
    align-items: center;
    height: 100%;
  }

.header-nav a {
    padding: 10px 15px;
    /* border-radius: 5px; */
    color: #d9d9d9 !important;
    font-size: 18px !important;
    text-decoration: none;
    display: flex;
    width: 110px; /* Tentukan lebar tetap yang sesuai untuk setiap link */
    padding: 0; /* Atur padding untuk memastikan ketinggian yang sama */
    text-align: center; /* Agar teks berada di tengah */
    margin: 0; /* Berikan jarak antar link jika diperlukan */  
    align-items: center; /* Tambahan ini */
    justify-content: center; /* Tambahan ini */
    height: 60px;

    
}
  
.header-nav a.active-link {
    color: #ABFD13 !important;
    font-weight: bold;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.header-nav nav a {
    color: #ABFD13;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
  }
  
.header-nav nav a:hover {
    color: #ABFD13;
  }

.logo-landing {
  max-width: 90px;
  width: 100%;
  border-radius: 60px;
}

.span-text {
  padding-left: 10px;
  font-family: "Poppins";
  font-weight: bold;
}

.active-menu {
    background-color: #ABFD13; /* Warna latar belakang saat aktif */
    color: white; /* Warna teks saat aktif (opsional) */
    padding: 5px 10px; /* Padding untuk memperbesar area klik */
    border-radius: 5px; /* Menambahkan sudut yang membulat (opsional) */
}
  
/* Gaya untuk tombol login di header */
.header-btn .ant-btn-primary {
    background-color: #ABFD13 !important;
    font-weight: bold;
    color: #090909;
    font-size: 18px !important;
    padding: 20px 15px !important;  
    cursor: pointer;  
    border: none;
    border-radius: 12px !important;
    width: 95px !important;
  }
  
.header-btn .ant-btn-primary:hover {
    background-color: #ABFD13 !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 18px !important;
    font-weight: bold;
    padding: 20px 15px !important;
    cursor: pointer;  
    border: none;
  }

.footer-landing{
    background: #ABFD13 !important; /* Latar belakang putih semi-transparan */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Bayangan lembut */
    padding: 10px 20px; /* Padding untuk header dan footer */
    color: #090909; /* Warna teks putih agar kontras dengan latar belakang */
    /* border: 1px solid rgba(255, 255, 255, 0.3); */

}

.font-color{
  color: #090909 !important;
}

/* Home section css*/
.home-section {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  min-height: 80vh;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 30px;
}

.div-wrapper {
  color: white;
  text-align: left;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.h2-homesection {
  font-family: "Poppins";
  font-size: 3.5rem;
  font-weight: bold;
  text-align: left;
  margin: 5px 0; /* Jarak vertikal 5px */
  line-height: 1.3; /* Tinggi baris lebih rapat */
}

.paragraph-home {
  font-family: "Poppins";
  font-size: 16px;
  max-width: 600px;
}

/* services section css */
.services-section {
  min-height: 100vh;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: start;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 80px;
}

.h2-services {
  color: #ABFD13;
  font-weight: bold;
  font-size: 36px;
  padding-right: 18px;
  font-family: "Poppins";
  margin: 5px 0; 
  line-height: 1.3; 
  letter-spacing: 1.5px;
}

.paragraph-services {
  font-size: 16px;
  line-height: 1.8;
  color: #D9D9D9;
  max-width: 700px;
  padding-left: 200px;
  font-family: "Poppins";
}

/* Card.css */
.cards {
  background: linear-gradient(150deg, #313131, #090909);
  color: #D9D9D9;
  padding: 30px;
  border: 0.2px solid #d9d9d96f;
  border-radius: 15px;
  transition: all 0.6s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 500px;
  height: 270px;
  font-family: "Poppins";
}

.cards:hover {
  width: 100%;
  background: #ABFD13;
  height: 370px;
  color: #090909;
  padding: 30px;
  border: 2px solid #ABFD13;
  font-family: "Poppins";
  transform: scale(1.05); /* Membesar sedikit */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); /* Bayangan lebih tebal */
}

.hovered {
  background: #ABFD13;
  width: 100%;
  height: 370px;
  color: #090909;
  padding: 30px;
  border: 2px solid #ABFD13;
  font-family: "Poppins";
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); /* Bayangan lebih tebal */
  transform: scale(1.05); 
}

.cards-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: inherit;
  font-family: "Poppins";
}

.cards-content {
  font-size: 16px;
  color: inherit;
  font-family: "Poppins";
}

.cards-learn-more {
  font-family: "Poppins";
  padding-top: 40px;
  font-weight: bold;
  text-align: end;
}

.cards-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  height: 50%;
}

/* About section css */
.about-section {
  min-height: 200vh;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  /* align-items: start; */
  justify-content: center;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 100px;
}

.div-about {
  color: white;
  text-align: center;
  font-family: "Poppins";
  padding-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 90px;
}

.div2-about {
  padding-top: 80px;
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding-bottom: 90px;
}

.h2-about {
  color: #ABFD13;
  font-weight: bold;
  font-size: 36px;
  padding-right: 18px;
  font-family: "Poppins";
  margin: 5px 0; 
  line-height: 1.3; 
  letter-spacing: 1.5px;
}

.cards-about {
  display: flex;
  flex-direction: column;
  height: 100%px;
  max-height: 200px;
  width: 100%;
  max-width: 900px;
  border-radius: 15px;
  background: linear-gradient(150deg, #090909, #313131);
  color: #D9D9D9;
  border: 0.2px solid #d9d9d96f;
  transition: all 0.6s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  font-family: "Poppins";
  font-size: 16px;
}

.cards-about:hover {
  scale: 1.05;
}

.cards-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.cards-available-rent {
  background: linear-gradient(150deg, #313131, #090909);
  color: #D9D9D9;
  padding: 30px;
  border: 0.2px solid #d9d9d96f;
  border-radius: 15px;
  transition: all 0.6s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
}

.cards-available-rent:hover {
  scale: 1.05;
  border: 0.2px solid #d9d9d96f;
}

.custom-title {
  color: #ABFD13;
  letter-spacing: 1.5px;
}

.custom-desc {
  color: #d9d9d9;
  font-size: 16px;
}

/* Contact section css */
.contact-section {
  min-height: 60vh;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-top: 90px;
  background: rgba(255, 255, 255, 0.03); /* Translucent white background */
  backdrop-filter: blur(10px); /* Apply blur effect to the background */
  border-radius: 10px; /* Round the corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: "Poppins";
  color: #d9d9d9;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.div-contact {
  display: flex;
  flex-direction: column;
  align-items: start;
  animation: fadeIn 1s ease-in;
  font-family: "Poppins";
}

.content-animation {
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}

@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.container {
  padding: 20px;
  color: White !important;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
  font-family: 'Poppins';
}

.image-hover-container {
  position: relative;
  overflow: hidden;
}

.image-hover-container img {
  transition: transform 0.3s ease-in-out;
}

.image-hover-container:hover img {
  transform: scale(1.1); /* Memperbesar gambar sedikit saat dihover */
  opacity: 0.8; /* Mengurangi opacity sedikit untuk efek halus */
}

.img {
  transition: transform 0.3s ease-in-out;
}

.img:hover {
  transform: scale(1.2);
}

.getstarted-button {
  display: flex;
  align-items: center;
  justify-content: left;
  padding-right: 30px;
  padding-left: 20px;
  padding-top: 15px;
  background-color: #ABFD13 !important;
  font-weight: bold;
  color: #090909;
  font-size: 18px !important;
  padding: 20px 15px !important;  
  cursor: pointer;  
  border: none;
  border-radius: 12px !important;
  width: 127px !important;
}

.getstarted-button:hover {
  background-color: #ABFD13 !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 18px !important;
  font-weight: bold;
  padding: 20px 15px !important;
  cursor: pointer;  
  border: none;
}

.button {
  padding-top: 50ox;
  padding-bottom: 50px;
}

.button:hover {
  background-color: #f0f0f0;
}

.button-position {
  position: relative;
  width: 300px; /* Sesuaikan dengan lebar gambar */
  height: 200px; /* Sesuaikan dengan tinggi gambar */
}

/* contact us */
ul {
  list-style: none;
}

.example-2 {
  display: flex;
  justify-content: start;
  align-items: start;
}
.example-2 .icon-content {
  margin: 0 10px;
  position: relative;
}
.example-2 .icon-content .tooltip {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  padding: 6px 10px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  font-size: 14px;
  transition: all 0.3s ease;
}
.example-2 .icon-content:hover .tooltip {
  opacity: 1;
  visibility: visible;
  top: -50px;
}
.example-2 .icon-content a {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #4d4d4d;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}
.example-2 .icon-content a:hover {
  box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
}
.example-2 .icon-content a svg {
  position: relative;
  z-index: 1;
  width: 30px;
  height: 30px;
}
.example-2 .icon-content a:hover {
  color: white;
}
.example-2 .icon-content a .filled {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #000;
  transition: all 0.3s ease-in-out;
}
.example-2 .icon-content a:hover .filled {
  height: 100%;
}

.example-2 .icon-content a[data-social="linkedin"] .filled,
.example-2 .icon-content a[data-social="linkedin"] ~ .tooltip {
  background-color: #0274b3;
}

.example-2 .icon-content a[data-social="github"] .filled,
.example-2 .icon-content a[data-social="github"] ~ .tooltip {
  background-color: #6e40c9;
}
.example-2 .icon-content a[data-social="instagram"] .filled,
.example-2 .icon-content a[data-social="instagram"] ~ .tooltip {
  background: linear-gradient(
    45deg,
    #405de6,
    #5b51db,
    #b33ab4,
    #c135b4,
    #e1306c,
    #fd1f1f
  );
}
.example-2 .icon-content a[data-social="youtube"] .filled,
.example-2 .icon-content a[data-social="youtube"] ~ .tooltip {
  background-color: #ff0000;
}

.small-desc {
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5em;
  color: #452c2c;
}

.small-desc {
  font-size: 1em;
}

.go-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 2em;
  height: 2em;
  overflow: hidden;
  top: 0;
  right: 0;
  background: linear-gradient(135deg, #8fab13, #788f15);
  border-radius: 0 4px 0 32px;
}

.go-arrow {
  margin-top: -4px;
  margin-right: -4px;
  color: white;
  font-family: courier, sans;
}






