.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: url('../../assets/images/BG.png') no-repeat center center fixed;
  background-size: cover;
}

.login-container {
  display: flex;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0.8, 0.8, 0.8, 0.7);
  overflow: hidden;
  width: 900px;
}

.login-box {
  flex: 1;
  background-color: #FAF9F6;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 200px;
}

.login-illustration {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  padding: 25px;
  border-radius: 20px;
  background-color: #D8E795;
}

.illustration-card {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.field-image {
  width: 2000px;
  height: auto;
}

.login-button {
  background-color: #9db53e;
  border-color: #a3b846;
  color: #000;
  border-radius: 8px;
}