.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: url('../../assets/images/BG.png') no-repeat center center fixed;
  background-size: cover;
}

.login-container {
  display: flex;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0.8, 0.8, 0.8, 0.7);
  overflow: hidden;
  width: 900px;
}

.login-box {
  flex: 1;
  background-color: #FAF9F6;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 600px;
  height: 600px;
  box-sizing: border-box;
  border-radius: 20px;
}

.logo {
  width: 220px;
  height: auto;
  margin: -10px;
  align-self: center;
}

.logo-title {
  color: #000;
  font-size: 36px;
  margin: 0;
  text-align: center;
  font-weight: bold;

}

.logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: ceneter;
  width: 100%;
  margin-bottom: 20px;
}

.login-form-wrapper {
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form > .ant-form-item {
  margin-bottom: 16px;
}

.login-illustration {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b3cf3a;
  border-radius: 20px;
}

.illustration-card {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

/* .login-button {
  color: #000;
  font-size: 16px;
  cursor: pointer;
  background: #b3cf3a;
  border: none;
} */

/* .custom-button:hover {
  background-color: #f0f0f0;
  color: black;

} */

.field-image {
  width: 500px;
  height: auto;
}

.login-button {
  background-color: #9db53e;
  border-color: #a3b846;
  color: #000;
  border-radius: 8px;
}