/* pages/reservation/index.css */
.ant-table {
  background: transparent !important;
}

.ant-table-thead > tr > th {
  background: #161616 !important;
  color: #abfd13 !important;
  border-bottom: 1px solid #abfd13 !important;
}

.ant-table-tbody > tr > td {
  background: #161616 !important;
  border-bottom: 1px solid #2a2a2a !important;
}

.ant-table-tbody > tr:hover > td {
  background: #2a2a2a !important;
}

.ant-select-selector {
  background: #161616 !important;
  color: #fff !important;
  border: 1px solid #abfd13 !important;
}

.ant-select-arrow {
  color: #abfd13 !important;
}

.ant-input {
  background: transparent !important;
  color: #fff !important;
}

.ant-input-prefix {
  color: #d9d9d9 !important;
}

.custom-input-history {
  flex: 1;
  height: 55px;
  border-radius: 8px;
  background: transparent !important; /* Background transparan */
  color: #d9d9d9 !important; /* Warna teks putih */
  font-size: 14px;
  border: 1px solid #abfd13 !important; /* Border hijau */
  padding: 0 12px;
}

.custom-input-history::placeholder{
  color: #d9d9d9 !important;
}

.custom-input-history:hover {
  border-color: #abfd13; /* Border hijau lebih gelap saat hover */
  background-color: transparent !important;
  color: #d9d9d9 !important;
}

.custom-input-history:focus {
  outline: none;
  border-color: #abfd13; /* Border tetap hijau saat focus */
  background-color: transparent !important;
}

.footer {
  background: rgba(255, 255, 255, 0.03) !important; /* Translucent white background */
  backdrop-filter: blur(10px) !important;
  border: 1px solid rgba(255, 255, 255, 0.2) !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  color: #abfd13 !important;
  text-align: center;
  position: relative; /* Ensure footer sticks to the bottom */
  bottom: 0; /* Attach to the bottom of the viewport */
  left: 0;
  width: 100%; /* Stretch across the full width */
  z-index: 10;
  font-size: 14px;
  font-family: "Poppins";
}
