/* Container styles */
.api-page-container {
  display: flex;
}

.api-page-sidenav {
  margin-left: 256px;
  padding: 24px;
  flex: 1;
}

.api-page-title {
  text-align: center;
  font-weight: 700;
}

.api-page-description {
  font-size: 1.2em;
  color: #666;
  text-align: center;
}

.api-page-spinner {
  display: block;
  margin-top: 20px;
}

.api-page-alert {
  margin-top: 20px;
}

/* Card styles */
.api-page-card {
  width: 220px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 8px;
  margin-bottom: 0px; /* This adds space between each card */
}

.api-page-card:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.api-page-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
}

/* URL text with ellipsis */
.api-page-url {
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #1890ff;
  font-size: 0.9em;
}

.api-page-url:hover {
  text-decoration: underline;
}

/* Title style for cards */
.api-page-card .ant-card-head {
  font-size: 1.1em;
  font-weight: 600;
}

/* Adjust the List layout for better spacing */
.ant-list-item {
  display: flex;
  justify-content: center;
}

/* Responsiveness */
@media (max-width: 768px) {
  .api-page-card {
    width: 180px;
    height: 300px;
  }

  .api-page-title {
    font-size: 1.5em;
  }
}

.api-page-card.wider-card {
  width: 100%; /* Make the card take full width of the container */
}

.floating-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1890ff;
  color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.floating-button:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
}
